:host {
  display: contents;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 100;
  grid-area: topbar;
  width: 100%;
  background-color: var(--c-elevation-1-flat);
  height: var(--topbarHeight);
  display: grid;
  grid-template-areas: 'topbarLeft topbarRight';

  &__left {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.125rem;
    grid-area: topbarLeft;
  }

  &__right {
    padding: 0 1rem;
    margin-left: auto;
    grid-area: topbarRight;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.profile-menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &:hover .profile-menu__links {
    display: flex;
  }

  span {
    font-weight: 500;
  }

  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid var(--c-elevation-1);
  }

  &__links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--c-elevation-1);
    flex-direction: column;
    min-width: 150px;
    box-shadow: var(--shadow-md);
    border-radius: 4px;
    overflow: hidden;
    margin-top: 0.5rem;

    a {
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: var(--c-text-primary);
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        background-color: var(--c-elevation-2);
      }
    }
  }
}
