<nav class="navigation">
  <ul class="navigation__top">
    @if (isLoggedIn()) {
      <li class="navigation__headline">You</li>
      <li>
        <a routerLink="dashboard" [routerLinkActive]="activeLinkClass"><fa-icon icon="home" />Dashboard</a>
        <a routerLink="profile" [routerLinkActive]="activeLinkClass"><fa-icon icon="user" />Profile</a>
      </li>

      <li class="navigation__headline">Dart</li>
      <li>
        <a routerLink="users" [routerLinkActive]="activeLinkClass"><fa-icon icon="people-group" />Players</a>
        <a routerLink="games" [routerLinkActive]="activeLinkClass"><fa-icon icon="dice" />Games</a>
        <a routerLink="leaderboard" [routerLinkActive]="activeLinkClass"><fa-icon icon="trophy" />Leaderboard</a>
        <a routerLink="statistics" [routerLinkActive]="activeLinkClass"><fa-icon icon="chart-simple" />Statistics</a>
      </li>
    } @else {
      <li class="navigation__headline">Welcome</li>
      <li>
        <a routerLink="auth/login" [routerLinkActive]="activeLinkClass"><fa-icon icon="angle-right" />Login</a>
        <a routerLink="auth/signup" [routerLinkActive]="activeLinkClass"><fa-icon icon="angle-right" />Signup</a>
      </li>
    }
  </ul>

  @if (isLoggedIn()) {
    <ul class="navigation__bottom">
      <li>
        <a routerLink="settings" routerLinkActive="navigation__link--active"><fa-icon icon="sliders" />Settings</a>
        <a (click)="logout()"><fa-icon icon="right-from-bracket" />Logout</a>
      </li>
    </ul>
  }
</nav>
